@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

:root{
    --main-color:rgba(6,61,170,255);
    --second-color:rgb(0, 38, 126);
    --letter-color:rgba(255,170,0,255);
    --principal-font: 'Bebas Neue', cursive;
    --second-font:'Heebo', sans-serif;
}

body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

hr{
    background-color: black;
    border-color: black;
    padding: .3rem;
    margin: 0;
}

#header-nav{
    padding: 0;
    margin: 0;
    background-image: url(./Assets/fondoPrincipal.jpg) ;
}

.nav{
    display: flex;
    justify-content: space-between;
}

.nav-add{
    display: flex;
    justify-content: flex-end;
    gap: 2rem;
    font-family: var(--principal-font);
    color: var(--letter-color);
    font-size: 35px;
}

.idioma{
    margin: 1rem;
    padding: .5rem 1rem .5rem 1rem;
}

.nav-sesion1{
    margin: 1rem;
    padding: .5rem 1rem .5rem 1rem;
}

.nav-sesion{
    font-family: var(--principal-font);
    color: var(--letter-color);
    font-size: 35px;
    padding: 3px 1rem 0rem 1rem;
    border-radius: 10px;
    background-color: var(--second-color);
    border-color: var(--letter-color);
    opacity: 0.8;
    transition: 1.4s;
}

.nav-sesion:hover{
    opacity: 1;
    background-color: var(--main-color);
}

.nav-title{
    font-family: var(--principal-font);
    color: var(--letter-color);
    font-size: 35px;
    padding: .5rem 1rem .5rem 1rem;
    margin: 1rem;
    border-style: solid;
}

.user-register{
    align-items: center;
    text-align: center;
    color: var(--letter-color);
    padding: 3rem 1rem 8rem 1rem;
    font-family: var(--second-font);
    font-size: 20px;
}

.user-register>h2{
    font-family: var(--principal-font);
    font-size: 45px;
}

.register-initial{
    margin: 2rem;
}

.register-initial>input{
    background-color: transparent;
    border: solid;
    border-color: var(--letter-color);
    border-radius: 10px;
    padding-top: 7px;
    padding-bottom: 3px;
    font-size: 30px;
}

.register-initial>button{
    font-family: var(--principal-font);
    color: var(--letter-color);
    font-size: 35px;
    padding: 3px 1rem 0rem 1rem;
    border-radius: 10px;
    background-color: var(--second-color);
    border-color: var(--letter-color);
    opacity: 0.8;
}
.register-initial>button:hover{
    transition: .5s;
    opacity: 1;
    background-color: var(--main-color);
}

.h2-section{
    font-family: var(--principal-font);
    font-size: 45px;
    color: var(--letter-color);

}

.p-section{
    font-family: var(--second-font);
    font-size: 25px;
    color: var(--letter-color);
    opacity: .8;
}

#section-1>article{
    background-image: url(./Assets/fondoPrincipal.jpg) ;
    display:flex;
    justify-content: space-between ;
}

#info-section-1{
    font-family: var(--second-font);
    color: var(--letter-color);
    text-align: center;
    margin: 7rem 3rem;
    font-size: 30px;
}

#img-section-1>img{
    border-radius: 10%;
    margin: 3rem;
    width: 600px;
    height: 400px;
}

#section-2>article{
    background-image: url(./Assets/fondoPrincipal.jpg) ;
    display:flex;
    flex-direction: row-reverse;
    justify-content: space-between ;
}

#info-section-2{
    font-family: var(--second-font);
    color: var(--letter-color);
    text-align: center;
    margin: 7rem 3rem;
    font-size: 30px;
}

#img-section-2>img{
    border-radius: 10%;
    margin: 3rem;
    width: 600px;
    height: 400px;
}

#section-3>article{
    background-image: url(./Assets/fondoPrincipal.jpg) ;
    display:flex;
    justify-content: space-between ;
}

#info-section-3{
    font-family: var(--second-font);
    color: var(--letter-color);
    text-align: center;
    margin: 7rem 3rem;
    font-size: 30px;
}

#img-section-3>img{
    border-radius: 10%;
    margin: 3rem;
    width: 600px;
    height: 400px;
}

#section-4>article{
    background-image: url(./Assets/fondoPrincipal.jpg) ;
    display:flex;
    flex-direction: row-reverse;
    justify-content: space-between ;
}

#info-section-4{
    font-family: var(--second-font);
    color: var(--letter-color);
    text-align: center;
    margin: 7rem 3rem;
    font-size: 30px;
}

#img-section-4>img{
    border-radius: 10%;
    margin: 3rem;
    width: 600px;
    height: 400px;
}

#section-footer{
    background-image: url(./Assets/fondoPrincipal.jpg) ;
    display:flex;
    flex-direction: column;
    justify-content: space-between ;
    font-family: var(--second-font);
    color: var(--letter-color);
    padding: 1rem 3rem;
}

ul{
    list-style: none;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(3,1fr);
}